config.json
devconfig.json
testingserver.json
admin_list.cfg
super_admins.cfg
food_managers.cfg
eligibility_exempt_depts.cfg
super_admins.cfg
ss_staffer_list.cfg
slack_auth.cfg
secure/
.idea/
pdfs/
*.db
*.csv
~$readme.rtf
my docs/