admin_list.cfg
config.json
devconfig.json
eligibility_exempt_depts.cfg
food_managers.cfg
super_admins.cfg
super_admins.cfg
ss_staffer_list.cfg
slack_auth.cfg
testingserver.json
secure/
.idea/
pdfs/
*.db
*.db-journal
*.csv
~$readme.rtf
my docs/
logs/
Temp_Files/