{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Staffer Meal List{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="container">
  <h2 class="form-signin-heading">View/Edit Department Order for {{ meal.meal_name }} for {{ dept }}</h2>
  <form role="form">
    <input type="hidden" name="dept_id" value="{{ dept_order.dept_id }}"/>
    <input type="hidden" name="meal_id" value="{{ dept_order.meal_id }}"/>
    <p>Slack Channel: <input type="text" name="slack_channel" placeholder="What channel to ping"
                             value="{{ dept_order.slack_channel }}"
    {% if dept_order.completed %} disabled {% endif %}/></p>
    <p>Slack Contact(s): <textarea name="slack_contact" cols="50" rows="4"
              placeholder="Who to ping in Slack?  Can include @here or @channel if desired"
    {% if dept_order.completed %} disabled {% endif %}
    >{{ dept_order.slack_contact }}</textarea></p>
    <p>Other Contact: <textarea name="other_contact" cols="50" rows="6"
                     placeholder="How you would like to be contacted for order pickup.  Slack channel or username, text, email, phone..."
    {% if dept_order.completed %} disabled {% endif %}
    >{{ dept_order.other_contact }}</textarea></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Contact Info</button>
  </form>
  {% if not dept_order.started %}
    <br/>
    -----------------------------
    <form>
      <table><tr>
        <td>
          <input type="hidden" name="meal_id" value="{{ dept_order.meal_id }}">
          <input type="hidden" name="dept_id" value="{{ dept_order.dept_id }}">
          {{ macros.dropdown(field='order_department', options=departments, is_required=True) }}
        </td>
        <td>Badge Number: <input type="number" name="order_badge"/></td>
        <td><button class="btn btn-lg btn-primary btn-block" type="submit">Create Order</button></td>
      </tr></table>
    </form>
  {% endif %}
  {% if dept_order.started %}<br/>Meal Prep Started: {{ dept_order.start_time }} {% endif %}
  {% if dept_order.completed %}<br/>Meal Prep Completed: {{ dept_order.completed_time }} {% endif %}
  <br/>-----------------------------
  <h3>list of orders for this department's order:</h3>
  {% for order in orders %}
    <form role="form">
      <table>
        <tr>
          {% if order.eligible == False %}
            <td><label>Not Eligible for Carryout</label></td>
          {% endif %}
          <td>
            <input type="hidden" name="order_id" value ="{{ order.id }}"/>
            <label class="form-control">{{ order.attendee.badge_num }} </label>
          </td>
          {% if order.eligible == False and dept_order.started == False and order.overridden == False%}
            <td><a class="btn btn-lg btn-primary btn-block" href="order_override?dept_id={{ dept_order.dept_id }}&meal_id={{ dept_order.meal_id }}&order_id={{ order.id }}">Override</a></td>
          {% endif %}
          {% if order.overridden and dept_order.started == False %}
            <td><a class="btn btn-lg btn-primary btn-block" href="order_override?dept_id={{ dept_order.dept_id }}&meal_id={{ dept_order.meal_id }}&order_id={{ order.id }}&remove_override=True">Remove Override</a></td>
          {% endif %}
          {% if dept_order.started == False %}
            <td><a class="btn btn-lg btn-primary btn-block" href="order_edit?dh_edit=True&order_id={{ order.id }}&badge_number={{ order.attendee.badge_num }}">Edit Order</a></td>
          {% endif %}
        </tr>
      </table>
    </form>
  {% endfor %}

</div>
{% endblock content %}