{# copied from https://github.com/magfest/ubersystem/blob/master/uber/templates/macros.html #}
{# then modified to suit my needs #}

{% macro ie7_compatibility_check() -%}
  <!--[if lte IE 7]>
        <script>
            if (!document.documentMode) { //if documentMode exists, this is a later IE in compatibility mode
                alert("This website requires IE 8 or later.");
            }
        </script>
    <![endif]-->
{%- endmacro %}


{% macro display_allergies(allergies, view_only=False, color=True) %}
    {% for allergy in allergies.standard_labels %}
      {% if loop.first %}<br/>{% endif %}
      <label {% if color %}style="color:red; font-size:20px;"{% endif %}>{{ allergy }}{% if not loop.last %}, {% endif %}</label>
    {% endfor %}
    {% if allergies.freeform %}
      <br/><textbox disabled {% if color %}style="color:red; font-size:20px;"{% endif %}>{{ allergies.freeform }}</textbox>
    {% endif %}
    {% if not view_only %}
    <br/><h3>We take allergies very seriously.  Please only indicate allergies, not preferences, for <a href="{{ c.EVENT_URL_ROOT }}staffing/food_restrictions" target="_blank">your dietary restrictions.</a></h3>
    {% endif %}
{% endmacro %}


{#
{% macro read_only_if(condition, val, pre_text='', post_text='') %}
{% if not condition %}
  {{ caller() }}
{% else %}
  <div class="col-sm-6 form-control-static">
  {{ pre_text }}
  {% if val is iterable and val is not string %}
    {{ val|join(', ') }}
  {% else %}
    {{ val|form_link }}
  {% endif %}
  {{ post_text }}
  </div>
{% endif %}
{%- endmacro %}
 #}


{% macro popup_link(href, text='<sup>?</sup>') -%}
  <a onClick='window.open(&quot;{{ href }}&quot;, &quot;info&quot;, &quot;toolbar=no,height=500,width=375,scrollbars=yes&quot;).focus(); return false;' href='{{ href }}'>{{ text|safe }}</a>
{%- endmacro %}


{#
{% macro checkbox(model, field_name, id=None, label=None, label_class=None, is_readonly=False, title=None) -%}
  {%- set is_class = model is class -%}
  {%- set is_checked = not is_class and model[field_name] -%}
  {% if label %}
    <label
        class="checkbox-label{% if label_class %} {{ label_class }}{% endif %}{% if is_readonly %} disabled{% endif %}"
        {% if title %} title="{{ title }}"{% endif %}>
  {% endif %}
  {% if is_readonly %}
    <input
        type="hidden"
        name="{{ field_name }}"
        id="{% if id %}{{ id }}{% else %}{{ field_name }}{% endif %}"
        value="{% if is_checked %}1{% else %}0{% endif %}" />
    <input
        type="checkbox"
        value="1"
        disabled
        {% if not label and title %} title="{{ title }}"{% endif %}
        {% if is_checked %} checked{% endif %} />
  {% else %}
    <input
        type="checkbox"
        name="{{ field_name }}"
        id="{% if id %}{{ id }}{% else %}{{ field_name }}{% endif %}"
        value="1"
        {% if not label and title %} title="{{ title }}"{% endif %}
        {% if is_checked %} checked{% endif %} />
  {% endif %}
  {% if label %} {{ label }}</label>{% endif %}
{%- endmacro checkbox %}
#}


{% macro checkgroup_opts(field_name, choices, is_readonly=False) -%}
  <div class="checkgroup">
    {% for choice in choices -%}
      {%- set value = choice.0 -%}
      {%- set label = choice.1 -%}
      {%- set desc = choice.2 -%}
      {% set id = choice.3 %}
      {# {%- set has_value = value|0 -%} #}
      {# {%- if not is_readonly or has_value -%} #}
        <label>
          {% if is_readonly %}
            <input type="hidden" name="{{ field_name }}{{ loop.index }}" value="{{ value }}"/>
            <input type="checkbox" disabled{% if value %} checked{% endif %}/>
            {{ label }}
          {% else %}
              <input type="hidden" name="{{ field_name }}id{{ loop.index }}" value="{{ id }}"/>
            <input
                type="checkbox"
                name="{{ field_name }}{{ loop.index }}"
                {% if value %} checked{% endif %}/>
            {{- label -}}
          {% endif %}
          {% if desc %} - {{ desc }} {% endif %}
        </label>

     {# {% endif %} #}
    <br/>
    {% endfor %}
  </div>
{%- endmacro %}


{% macro textbox_list(field_name, textboxes, placeholder) %}
 
  {% for box in textboxes %}
    {% set id = box.0 %}
    {% set name = box.1 %}
    {% set desc = box.2 %}
    <tr>
      <td><input type="hidden" name="{{ field_name }}id{{ loop.index }}" value="{{ id }}">
       <input type="text" class="form-control" placeholder="{{ placeholder }} label" name="{{ field_name }}{{ loop.index }}"
                value="{{ name }}"/>
      </td>
      <td><input type="text" class="form-control" placeholder="{{ placeholder }} description"
                 name="{{ field_name }}desc{{ loop.index }}" value="{{ desc }}"/> </td>
    </tr>
  {% endfor %}

{% endmacro %}


{% macro toppings_list(textboxes) %}
  <td>
    {% for box in textboxes %}
      {% set name = box.1 %}
      <label>{{ name }}{% if not loop.last %}, {% endif %}</label>
    {% endfor %}
  </td>
{% endmacro %}


{% macro dropdown(field, options, is_required=False, is_readonly=False) %}
  <select name="{{ field }}"{% if is_required %} required{% endif %}{% if is_readonly %} disabled{% endif %}>
    {% for option in options %}
      {% set value = option.1 %}
      {% set label = option.0 %}
      {% set selected = option.2 %}
      <option value="{{ value }}"{% if selected %} selected {% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
{% endmacro %}


{% macro button_radio_opts(field_name, choices, is_readonly=False, is_required=False) -%}
  <div data-toggle="buttons" class="btn-group btn-group-toggle form-control-static">
    {% for choice in choices -%}
      {%- set value = choice[0] -%}
      {%- set label = choice[1] -%}
      {%- set desc = choice[2] -%}
      {% set id = choice[3] %}
      {# {%- if not is_readonly or has_value -%} #}
        <label>
          <input
            type="radio"
            name="{{ field_name }}"
            value="{{ id }}"
            {% if value %}checked="checked"{% endif %}
            {% if is_readonly %} disabled{% endif %}
            {% if is_required %} required{% endif %}
          >{{ label }}</input>
      {% if desc %}- {{ desc }}{% endif %}
        </label>
        <br/>
      {# {% endif %} #}
    {% endfor %}

  </div>
{%- endmacro %}


{#
{% macro buttongroup(model, field_name, suffix='', default=False, is_readonly=False, is_required=False) -%}
  {%- set is_class = model is class -%}
  {%- set default = model[field_name] if not default and not is_class else '' -%}
  {%- set choices = model.get_field(field_name).type.choices.items() -%}
  {{ button_radio_opts(field_name, choices, suffix, default, is_readonly, is_required) }}
{%- endmacro %}
#}


{% macro form_group_scaffolding(
    label=False,
    help=False,
    is_required=False,
    size=6,
    form_class='',
    static_wrap=False) -%}
  <div class="form-group {{ form_class }}">
    <label class="col-sm-3 control-label{% if not is_required %} optional-field{% endif %}">
      {{ label }}
    </label>
    <div class="col-sm-{{ size }}">
      {% if static_wrap %}
        <div class="form-control-static">
          {{ caller() }}
        </div>
      {% else %}
        {{ caller() }}
      {% endif %}
    </div>
    {% if help %}
      <div class="clearfix"></div>
      <p class="col-sm-9 col-sm-offset-3 help-block">
        {{ help }}
      </p>
    {% endif %}
  </div>
{% endmacro %}

{#
{% macro form_group(
    model,
    field,
    url_field=False,
    url_text=False,
    url_is_relative=False,
    suffix='',
    type='text',
    length=0,
    id=False,
    label=False,
    placeholder='',
    help=False,
    form_class='',
    is_required=False,
    is_readonly=False,
    is_admin=False,
    is_focused=False) -%}

  {%- set is_class = model is class -%}
  {%- set has_value = not is_class and model[field] -%}
  {%- set is_url = url_field or url_text or url_is_relative or type == 'url' -%}
  {%- set url_field = url_field if url_field else field -%}
  {% if not is_readonly or has_value %}
    {% call form_group_scaffolding(label if label else field|unfieldify, help if not is_readonly else False, is_required, form_class=form_class) %}
      {%- if is_readonly -%}
        <div class="form-control-static">
          {%- if type == 'email' -%}
            {{ model[field]|email_to_link }}
          {%- elif is_url -%}
            {{ model[url_field]|url_to_link(text=url_text or model[field], is_relative=url_is_relative) }}
          {%- else -%}
            {{ '' if is_class else model[field]|linebreaksbr }}
          {%- endif -%}
        </div>
      {%- else -%}
        {%- if type == 'textarea' -%}
          <textarea
              class="form-control"
              name="{{ field }}{{ suffix }}"
              rows="4"
              placeholder="{{ placeholder }}"
              {% if is_required %} required="required"{% endif %}
              {% if is_focused %} autofocus{% endif %}>{{ '' if is_class else model[field] }}</textarea>
        {%- elif type == 'radio_buttons' -%}
          {{ buttongroup(model, field, suffix=suffix, is_readonly=is_readonly, is_required=is_required) }}
        {%- else -%}
          <input
                  class="form-control"
                  type="{{ type }}"
                  name="{{ field }}{{ suffix }}"
                  {% if id %} id="{{ id }}"{% endif %}
                  value="{{ '' if is_class else model[field] }}"
                  placeholder="{{ placeholder }}"
                  {% if length %}maxlength="{{ length }}"{% endif %}
                  {% if is_required %} required="required"{% endif %}
                  {% if is_focused %} autofocus{% endif %}/>
        {%- endif -%}
        {%- if is_admin and has_value -%}
          {%- if type == 'email' -%}
            {{ model[field]|email_to_link }}
          {%- elif is_url -%}
            {{ model[url_field]|url_to_link(text=url_text or model[field], is_relative=url_is_relative) }}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {% endcall %}
  {% endif %}
{%- endmacro formgroup %}
#}


{#
{% macro form_checkgroup(
    model,
    field,
    other_field=False,
    other_placeholder=False,
    form_class='',
    suffix='',
    label=False,
    help=False,
    desc=False,
    is_required=False,
    is_readonly=False,
    is_admin=False) -%}

  {%- set is_class = model is class -%}
  {%- set has_value = not is_class and model[field] -%}
  {%- set has_other_value = not is_class and other_field and model[other_field] -%}
  {%- set is_other_value_visible = not is_readonly or has_other_value -%}
  {%- set is_wrapped = not is_readonly or has_value or desc -%}
  {% call form_group_scaffolding(label if label else field|unfieldify, help if not is_readonly else False, is_required, 9, form_class, is_wrapped) %}
    {%- if desc and not is_admin -%}<p>{{ desc }}</p>{%- endif -%}

    {% if not is_readonly or has_value %}
      {{ checkgroup(model, field, suffix=suffix, is_readonly=is_readonly) }}
      <div class="clearfix"></div>
    {% endif %}

    {% if is_other_value_visible %}
      <div class="form-group" style="margin-bottom: 0;">
        {% if is_readonly %}
          <div class="col-sm-8">
            {% if not is_wrapped %}<div class="form-control-static">{% endif %}
            {{ '' if is_class else model[other_field] }}
            {% if not is_wrapped %}</div>{% endif %}
          </div>
        {% else %}
          <div class="col-sm-1">
            <div class="form-control-static">Other:</div>
          </div>
          <div class="col-sm-7">
            <input
                    class="form-control"
                    type="text"
                    name="{{ other_field }}{{ suffix }}"
                    value="{{ '' if is_class else model[other_field] }}"
                    placeholder="{{ other_placeholder }}"/>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endcall %}
{%- endmacro form_checkgroup %}
#}


{% macro name_form_group(model=None, label='Name', first_name_attr='first_name', last_name_attr='last_name', prefix='', suffix='', form_class='', is_required=False, is_readonly=False) -%}
  <div class="form-group {{ form_class }}">
    <label class="col-sm-3 control-label {% if not is_required %}optional-field{% endif %}">{{ label }}</label>
    <div class="col-sm-6">
      {%- if is_readonly -%}
          <div class="form-control-static">
            {{ model[first_name_attr] ~ ' ' ~ model[last_name_attr] }}
          </div>
        {%- else -%}
      <div class="form-group">
        <div class="col-sm-6">
          <input class="form-control first_name" type="text" name="{{ prefix }}{{ first_name_attr }}{{ suffix }}" value="{{ model[first_name_attr] if model else '' }}" placeholder="First Name" {% if is_required %}required{% endif %} />
        </div>
        <div class="col-sm-6">
          <input class="form-control last_name" type="text" name="{{ prefix }}{{ last_name_attr }}{{ suffix }}" value="{{ model[last_name_attr] if model else '' }}" placeholder="Last Name" {% if is_required %}required{% endif %} />
        </div>
      </div>
      {%- endif -%}
    </div>
  </div>
{%- endmacro %}


{% macro nav_menu(model, current_page_path) -%}
  {% if not model.is_new -%}
    <table class="navmenu"><tr>
      {% for href, label, display in varargs|batch(3, False) if display %}
        {% set href = href.format(**model.__dict__) %}
        <td width="{{ 100 // loop.length }}%">
          {%- if current_page_path.endswith(href.split('?')[0]) -%}
            {{ label }}
          {%- else -%}
            <a href="{{ href }}">{{ label }}</a>
          {%- endif -%}
        </td>
      {% endfor %}
    </tr></table>
  {%- endif %}
{%- endmacro %}


{% macro checklist_image(enabled) -%}
  <img src="../static/images/checkbox_{% if not enabled %}un{% endif %}checked.png" style="vertical-align:top ; margin-right:5px" height="20" width="20" />
{%- endmacro %}




{% macro toggle_checkbox(selector, label, suffix='', name='', value='1', required_selector=False, hide_on_checked=True, mode='visibility', checked=False) -%}
  <script type="text/javascript">
      var toggleVisibility{{ suffix }} = function () {
          var isChecked = $('#toggle_visibility{{ suffix }}').prop('checked'),
              hideOnChecked = {%- if hide_on_checked -%}true{%- else -%}false{%- endif -%},
              isVisible = isChecked != hideOnChecked;
          if ('{{ mode }}' == 'visibility') {
              $('{{ selector }}').toggle(isVisible);
          } else {
              $('{{ mode }}').prop('disabled', !isVisible);
          }
          {%- if required_selector -%}$('{{ required_selector }}').prop('required', isVisible);{%- endif -%}
      };
      $(function () {
          toggleVisibility{{ suffix }}();
          $('#toggle_visibility{{ suffix }}').change(toggleVisibility{{ suffix }});
      })
  </script>
  <label for="toggle_visibility{{ suffix }}" class="checkbox-label">
    <input type="checkbox" name="{{ name }}" id="toggle_visibility{{ suffix }}" value="{{ value }}" {% if checked %}checked="checked"{% endif %} />
    {{ label }}
  </label>
{%- endmacro %}

{% macro preview_email(email) %}
  {%- set body_html = email.body_as_html if email.format == 'text' else email.body_with_body_tag_stripped -%}
  {% if email.to is defined %}
    {# Rendered email to a specific model instance #}
    <div class="well email-preview">{{ body_html|safe }}</div>
  {% else %}
    {# Unrendered email template #}
    <div class="well email-preview" style='font-family: Menlo, Monaco, Consolas, "Courier New", monospace; font-size: 13px'>
      {{ body_html|safe }}
    </div>
  {% endif %}
{% endmacro %}