{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Meal List for Setup{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="container">
  <h2>{{ message }} <br/></h2>
  <h2 class="form-signin-heading">Meal List</h2>
  {% for meal in meallist %}
    <form role="form">
      <table>
        <tr>
          <td>
            <input type="hidden" name="id" value ="{{ meal.id }}">
            <label class="form-control">{{ meal.meal_name }} </label>
          </td>
            <td><label class="form-control">{{ meal.start_time }}</label></td>
            <td><a class="btn btn-lg btn-primary btn-block" href="order_edit?meal_id={{ meal.id }}">Create Order</a></td>
            <td><button class="btn btn-lg btn-primary btn-block" type="submit">Edit Meal</button></td>
        </tr>
      </table>
    </form>
  {% endfor %}

</div>
{% endblock content %}