{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Edit Order{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="container">
  <form role="form">
    <div class="section-border">
    <h2 class="form-signin-heading">Create/Edit Order for: {{ attendee.badge_num }} {{ attendee.full_name }}<br/>
      {% if dh_edit %}<input type="text" class="form-control" placeholder="Attendee Badge Number" name="badge_number"
                             value="{{ attendee.badge_num }}"/>
        <input type="hidden" name="dh_edit" value="True"/> <br/>
      {% endif %}
    </h2>
    {% if order.locked %}<h2>This order is locked for fulfilment, only Staff Suite admins can change it</h2> <br/>{% endif %}
    </div>
    <div class="section-border">My Allergy info: {{ macros.display_allergies(allergies) }}</div>
    <p><a href="{{ cfg.ss_url }}" target="_blank">Grab and Go snacks and sandwiches</a> are available during all Staff Suite Open Hours (8AM - Midnight)

    <input type="hidden" name="order_id" value="{{ order.id }}"/>
    <input type="hidden" name="save_order" value="{{ meal.id }}"/>
    <input type="hidden" name="meal_id" value="{{ meal.id }}"/>

    <h3><input type="text" placeholder="Meal Name" name="meal_name" value="{{ meal.meal_name }}" disabled /></h3>
    Meal Start Time
    <input type="datetime-local" placeholder="Start Time" name="start_time"
                {% if meal.start_time %}value="{{ meal.start_time.isoformat() }}"{% endif %} disabled/>
    <br/>
    Meal End Time
    <input type="datetime-local" placeholder="End Time" name="end_time"
               {% if meal.end_time %}value="{{ meal.end_time.isoformat() }}"{% endif %}} disabled/>
    <br/>
    Order Cutoff Time
    <input type="datetime-local" placeholder="Cutoff time for ordering" name="cutoff"
             {% if meal.cutoff %} value="{{ meal.cutoff.isoformat() }}"{% endif %} disabled/>
    Staff Suite will begin making orders at this time.  You can still edit/submit orders up until they begin your department's order though.
    <br/>
    <h4>Meal Description
      <span  role="textbox" class="input section-border">{{ meal.description }}</span>
    </h4>
    <br/>
    Department that will be picking up<br/>
    {{ macros.dropdown(field='department', options=departments, is_required=True, is_readonly=order.locked) }}
    <br/>
    {% if not meal.toggle1_title == '' %}
      <div class="section-border">
        <h4>{{ meal.toggle1_title }}</h4>
        {{ macros.button_radio_opts('toggle1', toggles1, is_required=True, is_readonly=order.locked) }}
      </div>
    {% endif %}

    {% if not meal.toggle2_title == '' %}
      <div class="section-border">
        <h4>{{ meal.toggle2_title }}</h4>
        {{ macros.button_radio_opts('toggle2', toggles2, is_required=True, is_readonly=order.locked) }}
      </div>
    {% endif %}

    {% if not meal.toggle3_title == '' %}
      <div class="section-border">
        <h4>{{ meal.toggle3_title }}</h4>
        {{ macros.button_radio_opts('toggle3', toggles3, is_required=True, is_readonly=order.locked) }}
      </div>
    {% endif %}

    {% if not meal.toppings1_title == '' %}
      <div class="section-border">
        <h4>{{ meal.toppings1_title }}</h4>
        {{ macros.checkgroup_opts('toppings1', toppings1, is_readonly=order.locked) }}
      </div>
    {% endif %}
    {% if not meal.toppings2_title == '' %}
      <div class="section-border">
        <h4>{{ meal.toppings2_title }}</h4>
        {{ macros.checkgroup_opts('toppings2', toppings2, is_readonly=order.locked) }}
      </div>
    {% endif %}
    <br/>
    Notes
    <textarea name="notes" cols="50" rows="4" maxlength="150"{% if order.locked %} disabled{% endif %}
              placeholder="Notes/requests. No guarantees that requests will be honored due to lack of time and staff for order processing, please be aware of your own allergies."
    >{{ order.notes }}</textarea>
    <br/>
    {% if order.eligible == False %}
      <h3 style="border:5px solid; padding:2px; color:red;">You are not seen as automatically eligible to order for this meal by the food system.
        You will need to get your DH to override your order or else go upstairs for self serve food.
        If you believe this is in error please contact us in Slack #Super-Staff-Suite-Ordering</h3>
    {% endif %}
    <button class="btn btn-lg btn-primary " type="submit"{% if order.locked %} disabled{% endif %}>Submit</button>
    <a class="btn btn-lg btn-primary " href="staffer_meal_list">Cancel</a>
    {% if order.exists == True %}
    <a class="btn btn-lg btn-primary " href="order_delete_confirm?order_id={{ order.id }}{% if order.locked %} disabled{% endif %}">Delete</a>
    {% endif %}
  </form>
</div>
{% endblock content %}