{% import 'macros.html' as macros with context %}

<!DOCTYPE HTML>
<html xmlns:style="http://www.w3.org/1999/xhtml">
<head>
  <style>
    div {
    font-size: 13px;
    font-family: Tahoma, Verdona;
}
.new-page {page-break-after: always;}

.border {
    border-style: solid;
    border-radius: 3px;
}
  </style>
</head>
  <body>
  {% for order in orders %}
  <div style="position:relative;top:3px;left:50px;height:215px;width:330px;margin-right:0px;padding-left:5px;padding-right:5px;" class="{% if not loop.last %}new-page{% endif %}{% if order.allergies or order.notes %} border{% endif %}">
    <div style="position:absolute;top:0;">
      # {{ order.attendee.badge_num }}
    </div>
    <div style="position:absolute;left:75px;">
      <label>date</label>
    </div>
    <div style="position:absolute;right:10px;">
      <label>{{ dept_name }}</label>
    </div>
    <div style="position:relative;top:12px;">
      {% if order.allergies %}
        Allergies: {{ macros.display_allergies(order.allergies, view_only=True, color=False) }}
      {% endif %}
    </div>
    <div style="position:relative;top:26px;">
      {% if not meal.toggle1_title == "" %}
        <label>{{ order.toggle1[0][1] }}</label>
      {% endif %}
      {% if not meal.toggle2_title == "" %}
        <label>, {{ order.toggle2[0][1] }}</label>
      {% endif %}
      {% if not meal.toggle3_title == "" %}
        <label>, {{ order.toggle3[0][1] }}</label>
      {% endif %}
      {% if not meal.toggle4_title == "" %}
        <label>, {{ order.toggle4[0][1] }}</label>
      {% endif %}
    </div>
    <div style="position:relative;top:26px;">
      {% if not meal.toppings_title == "" %}
        {{ macros.toppings_list(order.toppings) }}
      {% endif %}
    </div>
    <div style="position:relative;top:40px;">
    {% if not order.notes == "" %}
    {{ order.notes }}
    {% endif %}
    </div>
  </div>
  {% endfor %}
  </body>
</html>