{% extends "base.html" %}{% set admin_area=True %}
{% block title %}SS Department List{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="container">
  <h2 class="form-signin-heading">Department Order List for {{ meal_name }}</h2>
  <a class="btn btn-lg btn-primary " href="ssf_meal_list">Back to Meals list</a>

  <p>Total orders for all departments for this meal: {{ total }}</p>
  <p>Remaining for all departments for this meal: {{ remaining }}</p>
    {% for choice in order_selections %}
      {% set choice_count = choice[0] %}
      {% set choice_label = choice[1] %}
       {{ choice_count }} {{ choice_label }}
    </br>
    {% endfor %}
  <a class="btn btn-lg btn-primary " href="ssf_dept_list?meal_id={{ meal_id }}&meal_name={{ meal_name }}&complete_remaining=True">Lock & Complete empty Dept orders</a>
    </p>
  <a class="btn btn-lg btn-primary " href="lock_all_confirm?meal_id={{ meal_id }}">Lock ALL Dept orders for this meal</a>
    </p>

  {% for dept in depts %}
    {% set name = dept[0] %}
    {% set count = dept[1] %}
    {% set dept_id = dept[2] %}
    <form role="form">
      <table>
        <tr>
          <td>
            <input type="hidden" name="id" value="{{ dept_id }}">
            <label class="form-control">{{ name }}</label>
          </td>
            <td><label class="form-control" title="This count may include orders that are not eligible, and therefore will not show in the actual orders list on the next screen.">{{ count }}</label></td>
            <td><a class="btn btn-lg btn-primary " href="ssf_orders?meal_id={{ meal_id }}&dept_id={{ dept_id }}">View Dept Orders</a></td>
        </tr>
      </table>
    </form>
  {% endfor %}

  <br/>--------------------------------------
  <h3>Orderless Departments:</h3>
  {% for dept in orderless_depts %}
    {% set name = dept[0] %}
    {% set count = dept[1] %}
    {% set dept_id = dept[2] %}
    <form role="form">
      <table>
        <tr>
          <td>
            <input type="hidden" name="id" value="{{ dept_id }}">
            <label class="form-control">{{ name }}</label>
          </td>
            <td><label class="form-control" title="This count may include orders that are not eligible, and therefore will not show in the actual orders list on the next screen.">{{ count }}</label></td>
            <td><a class="btn btn-lg btn-primary " href="ssf_orders?meal_id={{ meal_id }}&dept_id={{ dept_id }}">View Dept Orders</a></td>
        </tr>
      </table>
    </form>
  {% endfor %}

  <br/>--------------------------------------
  <h3>Completed Departments:</h3>
  {% for dept in completed_depts %}
    {% set name = dept[0] %}
    {% set count = dept[1] %}
    {% set dept_id = dept[2] %}
    <form role="form">
      <table>
        <tr>
          <td>
            <input type="hidden" name="id" value="{{ dept_id }}">
            <label class="form-control">{{ name }}</label>
          </td>
            <td><label class="form-control" title="This count may include orders that are not eligible, and therefore will not show in the actual orders list on the next screen.">{{ count }}</label></td>
            <td><a class="btn btn-lg btn-primary " href="ssf_orders?meal_id={{ meal_id }}&dept_id={{ dept_id }}">View Dept Orders</a></td>
        </tr>
      </table>
    </form>
  {% endfor %}
</div>
{% endblock content %}