{% extends "base.html" %}{% set admin_area=True %}
{% block title %}{{ dept }} Order List for {{ meal.meal_name }}{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="container">
  <h2>{{ message }} <br/></h2>
  <a style="width:3in;" class="btn btn-lg btn-primary btn-block" href="ssf_dept_list?meal_id={{ meal.id }}">Back to Department List</a>
  {% if dept_order.started %}
  <h3>Orders locked!</h3><a style="width:3in;" class="btn btn-lg btn-primary btn-block" href="ssf_lock_order?meal_id={{ meal.id }}&dept_id={{ dept_id }}&unlock_order=True">Un-Lock orders for department</a> <br/>
  {% else %}
  <a style="width:3in;" class="btn btn-lg btn-primary btn-block" href="ssf_lock_order?meal_id={{ meal.id }}&dept_id={{ dept_id }}">Lock orders for department</a> <br/>
  {% endif %}
  {% if dept_order.started %}
  <a class="btn btn-lg btn-primary btn-block" href="pdfs/{{ dept_name }}.pdf" target="_blank">Print Labels</a> <br/>
  {% else %}
  You must start this bundle before you can print labels!
  {% endif %}
  {% if dept_order.completed %}
  <a style="width:3in;" class="btn btn-lg btn-primary btn-block" href="ssf_complete_order?meal_id={{ meal.id }}&dept_id={{ dept_id }}&uncomplete_order=True">Un-Mark Bundle Complete</a><br/>
  {% else %}
  <a style="width:3in;" class="btn btn-lg btn-primary btn-block" href="ssf_complete_order?meal_id={{ meal.id }}&dept_id={{ dept_id }}">Mark Bundle Complete</a>
  <p>Marking bundle complete will send out any configured notifications to the department.</p>
  {% endif %}
  <a style="width:4in;" class="btn btn-lg btn-primary btn-block" href="dept_order_details?dept_order_id={{ dept_order.id }}">See Dept's Contact Info for this Bundle</a>
  <br/>
  {% if dept_order.started %}<br/>Bundle Prep Started: {{ dept_order.start_time }} {% endif %}
  {% if dept_order.completed %}<br/>Bundle Prep Completed: {{ dept_order.completed_time }} {% endif %}
  <h2 class="form-signin-heading">{{ dept_name }} Order List for {{ meal.meal_name }}</h2>
  {% for order in order_list %}
  ---------------------------------------------------
    <form role="form">
      <table>
        <tr>
          <td>
            <label>{{ order.attendee.badge_num }}</label>
            {% if order.allergies %}
              {{ macros.display_allergies(order.allergies, view_only=True) }}
            {% endif %}
            <input type="hidden" name="order_id" value ="{{ order.id }}">
            
            {% if not meal.toggle1_title == "" %}
              <label>{{ order.toggle1[0][1] }}</label><br/>
            {% endif %}
            {% if not meal.toggle2_title == "" %}
              <label>{{ order.toggle2[0][1] }}</label><br/>
            {% endif %}
            {% if not meal.toggle3_title == "" %}
              <label>{{ order.toggle3[0][1] }}</label><br/>
            {% endif %}
          </td>
        </tr>
        <tr>
          {% if not meal.toppings_title == "" %}
            {{ macros.toppings_list(order.toppings) }}
          {% endif %}
        </tr>
        {% if not order.notes == "" %}
        <tr>
          <td>{{ order.notes }}</td>
        </tr>
        {% endif %}
      </table>
    </form>
  {% endfor %}

</div>
{% endblock content %}