{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Staffer Meal List{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="container">
  <h2>{{ message }} <br/></h2>
  <h2 class="form-signin-heading">Meal List</h2>
  {% for meal in meallist %}
    <form role="form">
      <table>
        <tr>
          {% if meal.eligible == False %}
            <td><label>Not Eligible for Carryout</label></td>
          {% endif %}
          <td>
            <input type="hidden" name="id" value ="{{ meal.id }}">
            <label class="form-control">{{ meal.meal_name }} </label>
          </td>
            <td><label class="form-control">{{ meal.start_time }}</label></td>
            <td><button class="btn btn-lg btn-primary btn-block" onclick="window.location.href = 'order_edit?meal_id={{ meal.id }}';">Create Order</button></td>
        </tr>
      </table>
    </form>
  {% endfor %}

</div>
{% endblock content %}