{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Staffer Meal List{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="container">
  <h2 class="form-signin-heading">Meal and Order list for {{ attendee.full_name }}</h2>
  <div>
  {{ macros.display_allergies(allergies) }}
  </div>
  <a class="btn btn-lg btn-primary " href="?display_all=True">Show all Meals</a>
  {% if session.is_dh or session.is_admin %}
  <h3>Webhook for your orders, for those who want to use it.  If you don't know what a webhook is just ignore these two boxes.</h3>
    <form role="form">
      <input style="width:80%;" name="webhook_url" type="text" value="{{ attendee.webhook_url }}" placeholder="URL for your webhook"/> <br/>
      <textarea name="webhook_data" rows="4" style="width:80%;" placeholder="JSON data for your webhook">{{ attendee.webhook_data }}</textarea>
      <button class="btn btn-lg btn-primary " type="submit">Update Webhook (sends test)</button>
    </form>
  {% endif %}
  <br/>

    <p>Grab and Go snacks and sandwiches are available during all Staff Suite Open Hours (8AM - 12AM)
    <br/>See details on what is available <a href="/pdfs/Grab-and-Go.png" target="_blank">here</a></p>

  {% for meal in meallist %}
    <form style="padding-top:5px;padding-bottom:5px;" role="form">
      <div class="meal_selection">
          {% if meal.eligible == False and meal.overridden == False %}
            <span class="meal_selection_item">Not Eligible for Carryout</span>
          {% endif %}
          {% if meal.overridden %}
            <span class="meal_selection_item">Order Authorized by DH</span>
          {% endif %}
            <input type="hidden" name="meal_id" value ="{{ meal.id }}">
            <span class="meal_selection_item">{{ meal.meal_name }} </span>
            <span class="meal_selection_item">{{ meal.start_time }}</span>
          {% if meal.order_exists %}
            <span style="display: inline-block;"><a class="btn btn-lg btn-primary " href="order_edit?meal_id={{ meal.id }}">Edit Existing Order</a></span>
          {% else %}
            <span style="display: inline-block;"><a class="btn btn-lg btn-primary " href="order_edit?meal_id={{ meal.id }}">Create Order</a></span>
          {% endif %}
      </div>
    </form>
  {% endfor %}

</div>
{% endblock content %}
