{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Staffer Meal List{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="container">
  <h2 class="form-signin-heading">Meal and Order list for {{ attendee.full_name }}</h2>
  {{ macros.display_allergies(allergies) }}
  {% if session.is_dh or session.is_admin %}
  <h3>Webhook for your orders</h3>
    <form role="form">
      <input style="width:80%;" name="webhook_url" type="text" value="{{ attendee.webhook_url }}" placeholder="URL for your webhook"/> <br/>
      <textarea name="webhook_data" rows="4" style="width:80%;" placeholder="JSON data for your webhook">{{ attendee.webhook_data }}</textarea>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Update Webhook (sends test)</button>
    </form>
  response:<label>{{ wresp }}</label>
  {% endif %}
  <br/>
  <a href="?display_all=True">Display all Meals</a>
  {% for meal in meallist %}
    <form role="form">
      <table>
        <tr>
          {% if meal.eligible == False and meal.overridden == False %}
            <td><label>Not Eligible for Carryout</label></td>
          {% endif %}
          {% if meal.overriden %}
            <td><label>Order Authorized by DH</label></td>
          {% endif %}
          <td>
            <input type="hidden" name="meal_id" value ="{{ meal.id }}">
            <label class="form-control">{{ meal.meal_name }} </label>
          </td>
            <td><label class="form-control">{{ meal.start_time }}</label></td>
          {% if meal.order_exists %}
            <td><a class="btn btn-lg btn-primary btn-block" href="order_edit?meal_id={{ meal.id }}">Edit Existing Order</a></td>
          {% else %}
            <td><a class="btn btn-lg btn-primary btn-block" href="order_edit?meal_id={{ meal.id }}">Create Order</a></td>
          {% endif %}
        </tr>
      </table>
    </form>
  {% endfor %}

</div>
{% endblock content %}